body {
            background-image: url(https://thumbs.dreamstime.com/b/incredibly-beautiful-sunset-sun-lake-sunrise-landscape-panorama-nature-sky-amazing-colorful-clouds-fantasy-design-115177001.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: fixed;
        }
        .box {
            background-image: url(https://i.pinimg.com/236x/b1/f0/f5/b1f0f5240f7b85aca1d69701016dc42c.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: fixed;
            width: 300px;
            height: 400px;
            margin-top: 100px;
            margin-left: 450px;
            border-radius: 5px;
            overflow: hidden;
        }
        .box h1 {
           margin-left: 20px;
           font-size: 20px;
           padding-top: 20px;
           color: white;
        }
        .box input {
            margin-left: 20px;
            width: 165px;
            border: 1px solid;
            padding-left: 10px;
        }
        .box button {
            margin-left: 5px;
        }
        .box ul {
            overflow-y: scroll;
            height: 220px;
            color: white;
        }
        .box1 {
            display: flex;
            align-items: center;
        }
        .box1 p {
            margin-left: 20px;
            color: white;
        }
        .box1 button {
            width: 60px;
            height: 20px;
            margin-left: 10px;
        }